html, body {
    height: 100%;
    line-height: 1.375;
}

h5 {
    margin: 0;
    background-color: LightGray;
}

.infoBox > h4 {
    padding: 1em 0 1em 1.67em;
}


p {
    margin: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

article {
    margin: 0;
    padding: 0;
}

header {
    height: 30em;
    width: 80%;
    background-color: gray;
    top: 0;
    z-index: -100;
}

article {
    padding: 1em;
    margin: 0 auto;
    max-width: 42em
}

footer {
    padding: 1.5em;
    background-color: gray;
}

nav {
    position: fixed;
    width: 20%;
    min-height: 100%;
    right: 0;
    float: right;
    background-color: #6f5499;
    margin: 0;
    padding: 0;
    z-index: 0;
}

header > h1 {
    margin: 0;
    padding: 1em
}

nav > ul {
    padding: 2em 0em 2em 0;
    margin: 0
}

nav > ul > li > a {
    padding: 0.5em 2em;
    display: block;
}

nav > ul > li {
    list-style-type: none;
}

div#maincontent {
    position: relative;
    width: 80%;
    margin: 0;
    padding: 0;
    z-index: 0;
}

/*A bit of a hack to fix the jquery slide toggle*/
div#panel {
    border: 1px solid transparent;
}

img#profilePic {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 150px;
    max-height: 150px;
}
span#imgDiv {
    padding: 0 1em 0 1em;
    float: right;
}

.infoBox > h4 {
    background-color: LightGray;
    margin: 0;
}

div.infoBox > div > p{
    background-color: #E8E8E8;
    padding: 1.67em;
}

.showhide > div.heading {
    background-color: LightGray;
    margin: 0;
    overflow: hidden;
}

.showhide > div.heading > h4, h5 {
    display: inline-block;
    padding: 1em 0 1em 2em;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

.plusminus {
    float: right;
    display: inline-block;
    padding: 0em 1em 0em 0em;
    font-size: 1.66em;
}

.plusminus > i {
    display: inline-block;
    vertical-align: middle;
}

.fa-plus {
    color: white;
  text-shadow:
   -1px -1px 0 DarkGray,  
    1px -1px 0 DarkGray,
    -1px 1px 0 DarkGray,
     1px 1px 0 DarkGray;
}
.fa-minus {
    color: white;
      text-shadow:
   -1px -1px 0 DarkGray,  
    1px -1px 0 DarkGray,
    -1px 1px 0 DarkGray,
     1px 1px 0 DarkGray;
}

div.infoBox > div > div > p {
    background-color: #E8E8E8;
    padding: 1.67em;
}

#magic-line {
    width: 100%;
    position: absolute;
    background: #8565B8;
    z-index: -1;
}

.circular {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
